build-output/JSONResume/*.json
build-output/MarkdownResume/*/*.doc
build-output/MarkdownResume/*/*.md
build-output/MarkdownResume/*/*.pdf

build-temp/MarkdownResume/*.yml
build-temp/MarkdownResume/*.md
build-temp/MarkdownResume/*/*.md
build-temp/MarkdownResume/*/*.pdf
build-temp/MarkdownResume/*/*.doc